[submodule "ext/raylib"]
	path = ext/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "ext/flecs"]
	path = ext/flecs
	url = https://github.com/SanderMertens/flecs.git
[submodule "ext/sdl"]
	path = ext/sdl
	url = https://github.com/libsdl-org/SDL.git
[submodule "ext/json"]
	path = ext/json
	url = https://github.com/nlohmann/json.git
